.counter-wrapper {
    width: 100%;
    max-width: 200px;
    text-align: center;
}

.counter {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.counter-num {
    margin: 0;
}

.counter-add button.button {
    margin-top: 10px;
    display: block;
    width: 100%;
}